doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Test - Example
        //Style CSS
        link(rel="stylesheet" type="text/css" href="./css/main.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap")
        //Font Awesome
        script(src="https://kit.fontawesome.com/58c378b9ed.js" crossorigin="anonymous")

    body

        h1 hellosdfsdf
        h2 Chào em đến từ 
        div.banner_slider.header_top
        h2.banner hhhh
        script(src="./js/main.js")