doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Task by Kane ! 
        //Style CSS
        link(rel="stylesheet" type="text/css" href="./css/main.css")
        //Font Avesome
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css") 
        //FontFamily
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap")
        //Plugin
        link(rel="stylesheet" href="./css/_grid.css")
        link(rel="stylesheet" href="./css/owl.carousel.min.css")
        link(rel="stylesheet" href="./css/owl.theme.default.min.css")
        //Font Awesome
        script(src="https://kit.fontawesome.com/58c378b9ed.js" crossorigin="anonymous")

    body
        .wrapper
            .over_lay
            //-  Start Header Top
            .header
                .container
                    .header__top.d-flex.align-item-center.justify-content-space-between
                        .header__top__logo
                            img(src="./images/logo.png")
                        .header__top_list   
                            ul.header__top_list_1.d-flex
                                li.header__top_list_1_item
                                    a.header__top_list_1_item_link Home
                                li.header__top_list_1_item
                                    a.header__top_list_1_item_link About
                                li.header__top_list_1_item
                                    a.header__top_list_1_item_link Services   
                                li.header__top_list_1_item
                                    a.header__top_list_1_item_link Work
                                li.header__top_list_1_item
                                    a.header__top_list_1_item_link Pricing
                                li.header__top_list_1_item
                                    a.header__top_list_1_item_link Blog
                                li.header__top_list_1_item
                                    a.header__top_list_1_item_link Contact
                                li.header__top_list_1_item
                                    <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                                li.header__top_list_1_item
                                    <i class="fa fa-search" aria-hidden="true"></i>
                        .header__top__hambuger
                            <i class="fa fa-bars fa-3x" aria-hidden="true"></i>


            .banner
               
                .container 
                    .banner__content
                        .row.align-item-center.justify-content-center
                            .col-12.col-md-12.col-lg-8
                                .banner__content_block
                                    p.banner__content_block_title  Wellcome to San Franciso Digtal Agency
                                    h1.banner__content_block_text We don't do logos , we tell stories through brands
                                    p.banner__content_block_deceription We belive that a brand that has a conrect structure and amout of boldness is camble of generating a niche , domaiting a market and expaning its horizons
                                    .banner__content_block__link.d-flex
                                        a.banner__content_block__link_1 Get Started
                                        a.banner__content_block__link_2
                                            <i class="fa fa-play" aria-hidden="true"></i>
                            .col-12.col-md-12.col-lg-4
                                .banner__content_block.trans
                                    img.banner__content_block__img(src="images/banner.png")
            .content
                .container
                    .content__main
                        .row.content_bg
                            .col-12.col-md-12.col-lg-6
                                .content__main__block
                                    p.content__main__block__txt Wellcome to San Franciso Digtal Agency        
                                    .content__main__block__line
                                    h2.content__main__block__title We're a digtal product agency helping startups and conpaiers
                                    p.content__main__block__deceription There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum.
                                    a.content__main__block__link Learn More
                            .col-12.col-md-12.col-lg-6
                                .content__main__block
                                    .row
                                        .col-12.col-md-6.col-lg-6
                                            .content__main__block__main.active
                                                p.content__main__block__main__txt   Branding & Startegy
                                                .content__main__block__main__line
                                                h2 Services Design
                                                p.content__main__block__main__deceription It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout
                                        .col-12.col-md-6.col-lg-6
                                            .content__main__block__main.active
                                                p.content__main__block__main__txt   Website & Apps
                                                .content__main__block__main__line
                                                h2 UX/UI Design
                                                p.content__main__block__main__deceription It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout
                                        .col-12.col-md-6.col-lg-6
                                            .content__main__block__main
                                                p.content__main__block__main__txt   SEO ,PPC & social media
                                                .content__main__block__main__line
                                                h2 Degital Maketting
                                                p.content__main__block__main__deceription It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout
                                        .col-12.col-md-6.col-lg-6
                                            .content__main__block__main
                                                p.content__main__block__main__txt   Digitallstaion & IT
                                                .content__main__block__main__line
                                                h2 IT Infrastruceture 
                                                p.content__main__block__main__deceription It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout                        
            .degital
                .degital__main
                    .row
                        .ac.col-12.col-md-12.col-lg-6
                            .degital__main__block.amn1
                                img(src="images/unbanner1.png")
                        .ac.col-12.col-md-12.col-lg-6
                            .col-12.col-lg-7.offset-lg-2.col-md-12
                                .degital__main__block.pad
                                    p.degital__main__block__title We do amazing things with amazing people
                                    .degital__main__block__line
                                    h1 We creat award-winning sites , and remarkable brands
                                    p.degital__main__block__deceription Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece 
                                    a Contact Us
                        .col-12.col-md-12.col-lg-6.ac
                            .col-12.col-lg-7.offset-lg-2.col-md-12
                                .degital__main__block.pad
                                    p.degital__main__block__title Frequetly aksed question
                                    .degital__main__block__line
                                    h1 Degital marketting FAQs-and easy-to-understand answers
                                    
                                    .degital__main__block__item
                                        <div class="degital__main__block__item__txt"  > What is degital marketing ? </div>                 
                                            .degital__main__block__item__deceription
                                                 p.degital__main__block__item__deceription__un   Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur
                                        <div class="degital__main__block__item__txt"  > What is degital marketing ? </div>                 
                                            .degital__main__block__item__deceription
                                                 p.degital__main__block__item__deceription__un   Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur
                                        <div class="degital__main__block__item__txt"  > What is degital marketing ? </div>                 
                                            .degital__main__block__item__deceription.sx
                                                 p.degital__main__block__item__deceription__un   Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur         
                        .ac.col-12.col-md-12.col-lg-6
                            .degital__main__block.ap
                                img(src="images/unbanner2.png")
            .crafting
                .container
                    .crafting__main
                        .col-12.col-md-12.col-lg-7.offset-lg-2
                            h1 Crafting effective digital marketting and communication desgin 
                        ul.crafting__main__list
                            li(data-filter="*" class="crafting__main__list_item")  All
                            li(data-filter=".app" class="crafting__main__list_item") App
                            li(data-filter=".branding" class="crafting__main__list_item") Branding
                            li(data-filter=".design" class="crafting__main__list_item") Design
                            li(data-filter=".llustration" class="crafting__main__list_item") llustration
                            li(data-filter=".web" class="crafting__main__list_item") Web
                    .crafting__product
                        .crafting__product-item.app.branding
                            .crafting__product-item-img
                                img(src="images/design1.png")
                        .crafting__product-item.app.design
                            .crafting__product-item-img
                                img(src="images/design2.png")
                        .crafting__product-item.app.web
                            .crafting__product-item-img
                                img(src="images/design4.png")        
                        .crafting__product-item.app.web
                            .crafting__product-item-img
                                img(src="images/design5.png")
                        .crafting__product-item.lustration
                            .crafting__product-item-img
                                img(src="images/design3.png")
                        .crafting__product-item.app
                            .crafting__product-item-img
                                img(src="images/design6.png")
            .want
                .container
                    .want_main
                        .col-12.offset-lg-2.col-md-12.col-lg-7
                            .want_main__block
                                .want_main__block__iccon
                                    <i class="fa fa-podcast fa-2x" aria-hidden="true"></i>
                                <b> Want to start a project ? </b><span>Click below to get started on your requeuts </span>
                                .want_main__block__link
                                    a Start a Project
            .our
                .container
                    .our__main
                        h2 Our lastes news , lights and events
                        .our__main__product
                            .row
                                .col-12.col-lg-4.col-md-12
                                    .our__main__product__block.adp1
                                        .our__main__product__block__img
                                            img(src="images/events.png")
                                            .our__main__product__block__img__text
                                                .our__main__product__block__img__text__icon.d-flex
                                                        .our__main__product__block__img__text__icon__top
                                                            <i class="fa fa-snowflake-o fa-2x" aria-hidden="true"></i>
                                                        .our__main__product__block__img__text__icon__title
                                                            p Posted by Admin <br> March 27,2020 
                                                h3 How to lead employes through technology changes

                                                p.our__main__product__block__img__text__1 Technology/5 min read

                                                a Readmore                                   
                                .col-12.col-lg-4.col-md-12
                                    .our__main__product__block.adp2
                                        .our__main__product__block__img
                                            img(src="images/events.png")
                                            .our__main__product__block__img__text
                                                .our__main__product__block__img__text__icon.d-flex
                                                        .our__main__product__block__img__text__icon__top
                                                            <i class="fa fa-snowflake-o fa-2x" aria-hidden="true"></i>
                                                        .our__main__product__block__img__text__icon__title
                                                            p Posted by Admin <br> March 27,2020 
                                                h3 How to lead employes through technology changes

                                                p.our__main__product__block__img__text__1 Technology/5 min read

                                                a Readmore       
                                .col-12.col-lg-4.col-md-12
                                    .our__main__product__block.adp3
                                        .our__main__product__block__img
                                            img(src="images/events.png")
                                            .our__main__product__block__img__text
                                                .our__main__product__block__img__text__icon.d-flex
                                                        .our__main__product__block__img__text__icon__top
                                                            <i class="fa fa-snowflake-o fa-2x" aria-hidden="true"></i>
                                                        .our__main__product__block__img__text__icon__title
                                                            p Posted by Admin <br> March 27,2020 
                                                h3 How to lead employes through technology changes

                                                p.our__main__product__block__img__text__1 Technology/5 min read

                                                a Readmore       
                            .our__main__product__link
                                a Visit Blog       
            .footer
                .container
                    .footer__main
                        .col-lg-7.offset-lg-2
                            .footer__main__block
                                h4 Subscribe to our newsletter and stay up to date with the latest news !
                                .footer__main__block__input
                                    <input type="text" placeholder="Enter Your Email Address">
            .unfooter
                .container
                    .unfooter__main
                        .row
                            .col-12.col-lg-4.col-md-4
                                .unfooter__main__block
                                    img(src="images/logo.png")
                                    p We are an industry-teaching provider of IT and bussines technology servieces
                            .col-lg-2.col-12.col-md-3
                                .unfooter__main__block
                                    h2 Company
                                    ul.unfooter__main__block__list
                                        li.unfooter__main__block__list__item Servies
                                        li.unfooter__main__block__list__item About
                                        li.unfooter__main__block__list__item Caress
                                        li.unfooter__main__block__list__item Contact
                            .col-lg-2.col-12.col-md-3
                                .unfooter__main__block
                                    h2 Products
                                    ul.unfooter__main__block__list
                                        li.unfooter__main__block__list__item Partoms
                                        li.unfooter__main__block__list__item IT App
                                        li.unfooter__main__block__list__item Prototype
                                        li.unfooter__main__block__list__item Payelements
                            .col-lg-2.col-12.col-md-3
                                .unfooter__main__block
                                    h2 Services
                                    ul.unfooter__main__block__list
                                        li.unfooter__main__block__list__item IT Resoures
                                        li.unfooter__main__block__list__item Pricing
                                        li.unfooter__main__block__list__item Help Center
                            .col-lg-2.col-12.col-md-3
                                .unfooter__main__block
                                    h2 Services
                                    ul.unfooter__main__block__list.d-flex
                                        li.unfooter__main__block__list__item 
                                            <i class="fa fa-american-sign-language-interpreting"  aria-hidden="true"></i>
                                        li.unfooter__main__block__list__item 
                                            <i class="fa fa-bug" aria-hidden="true"></i>
                                        li.unfooter__main__block__list__item
                                            <i class="fa fa-coffee" aria-hidden="true"></i>
                                        li.unfooter__main__block__list__item
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                         





                                                    

                                    
            


                                        
            
        //- Link jequery
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        script(src="./js/owl.carousel.js")
        script(src="./js/isotope.pkgd.min.js")
        script(src="./js/main.js")
        script(src="./js/owl.carousel.min.js")
        script(src="./js/degital.js")
        
        
        