.footer {
  padding: 5rem 0;
  background-image: url(../images/footer.png);
  background-size: cover; }
  .footer__main__block {
    text-align: center; }
    .footer__main__block h4 {
      font-size: 3.2rem;
      font-weight: 500;
      padding: 3rem 0 2rem 0;
      color: white; }

.input {
  padding: 1rem 1.5rem;
  border-radius: 20px;
  width: 40rem;
  color: white;
  background-color: #757482;
  opacity: .5; }

.input::before {
  content: "Subrice";
  position: absolute;
  width: 50px;
  height: 50px;
  right: 0;
  top: 0;
  background: red; }

.unfooter {
  background-color: #eff3fe;
  padding: 5rem 0; }
  .unfooter__main {
    border-bottom-style: 2x solid gray; }
    .unfooter__main__block img {
      width: 80%; }
    .unfooter__main__block p {
      padding-top: 2rem;
      font-size: 1.6rem;
      font-weight: 400; }
    .unfooter__main__block h2 {
      font-weight: 500;
      font-size: 2rem;
      padding-bottom: 3rem; }
    .unfooter__main__block__list__item {
      font-weight: 500;
      font-size: 1.6rem;
      padding-bottom: 2rem;
      cursor: pointer;
      color: gray; }
      .unfooter__main__block__list__item:hover {
        color: blue; }
      .unfooter__main__block__list__item i {
        font-size: 2rem;
        margin-right: 2rem; }
